*~
\#*\#
papers/proposal/amvp_proposal.pdf
papers/brainstorm/amvp_brainstorm.pdf
examples/synth/result.plate
examples/synth/internal-result.plate
examples/real/result.plate
examples/real/internal-result.plate
*.asv
old/matlab/mvp_patch/AS15_3_3_tiles.mat
old/matlab/mvp_patch/ASA_CG-2.2.tar
old/matlab/mvp_patch/ASA_CG-2.2
old/matlab/mvp_patch/ASA_CG-2.2_matlab
.DS_Store
build*
