*~
\#*\#
papers/proposal/amvp_proposal.pdf
papers/brainstorm/amvp_brainstorm.pdf
examples/synth/result.plate
examples/synth/internal-result.plate
examples/real/result.plate
examples/real/internal-result.plate
*.asv

build
